<html>
	<head><title>提交测试</title></head>
	<body>
		<h1>我是图片提交</h1>
		<form action="/show/upload/"  method="post" enctype="multipart/form-data">
    <table>
    	<tr><td>名称：</td><td><input type="text" name="title"></td></tr>
    	<tr><td>上传图片：</td><td><input type="file" name="path"></td></tr>
    	<tr><td>描述：</td><td><input type="text" name="instr"></td></tr>
    	<tr><td>排序：</td><td><input type="text" name="rank"></td></tr>
    	<tr><td>类型：</td><td><input type="text" name="image_type"></td></tr>
    	<tr><td></td><td><input type="submit" name="提交"></td></tr>
    </table>
    </form>
	</body>
</html>